{% extends "layout.html" %}
{% block content %}
<div class="content-section" style=" border-radius: 2px; box-shadow: 0 0 2px black; margin-top: 5px;">
    <form method="POST" action="" id="myform">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">New Quote</legend>
            <div class="form-group">
                {{ form.gallons_requested.label(class="form-control-label") }}
                {% if form.gallons_requested.errors %}
                {{ form.gallons_requested(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.gallons_requested.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.gallons_requested(class="form-control form-control-lg", id="number", placeholder="Please enter number of gallons") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.delivery_address.label(class="form-control-label") }}
                {% if form.delivery_address.errors %}
                {{ form.delivery_address(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.delivery_address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.delivery_address(class="form-control form-control-lg", id="delivery_address") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.date_requested.label(class="form-control-label") }}
                {% if form.date_requested.errors %}
                {{ form.date_requested(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.date_requested.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.date_requested(class="form-control form-control-lg", id="date_requested") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.suggested_price.label(class="form-control-label") }}
                {% if form.suggested_price.errors %}
                {{ form.suggested_price(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.suggested_price.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.suggested_price(class="form-control form-control-lg", id="suggested_price") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.total_amount_due.label(class="form-control-label") }}
                {% if form.total_amount_due.errors %}
                {{ form.total_amount_due(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.total_amount_due.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.total_amount_due(class="form-control form-control-lg", id="total_amount_due") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            <!--            <input type ="submit" name="action" value="Get Price">-->
            <!--            <input type ="submit" name="action" value="Get Quote">-->
            {{ form.get_price(class="btn btn-outline-info", id="get_price")}}
            {{ form.get_quote(class="btn btn-outline-info", id="get_quote")}}
        </div>
    </form>
</div>
<script>
$(document).ready(function(){

  $("#number").keypress(function (e) {

    if(e.which != 46 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

      return false;}
  });

  var gallons_requested = document.getElementById("number");

   var date_requested = document.getElementById("date_requested");

    if(total_amount_due.value=="")
      $('#get_quote').hide();
    if(gallons_requested.value=="")
       $('#get_quote').hide();

     else
      $('#get_quote').show()

 $("#get_price").click(function(){
   if(gallons_requested.value=="")
    $("#get_quote").hide();
   if(date_requested.value=="")
      $("#get_quote").hide();
   else {
     $("#get_quote").show();
   }

});
});




</script>
{% endblock content %}