{% extends "history_layout.html" %}
{% block content %}

<h4 class="mb-3">Quotes for {{ user.username }}</h4>

  <div  class="table-responsive col-md-12" style="border-radius:2px; box-shadow: 0 0 2px black;">

    <table class=" table table-hover">
      <thead>
        <tr>
<!--          <th>#</th>-->
          <th>Date</th>
          <th>Gallons</th>
          <th>Total Amount Due</th>
        </tr>
      </thead>
      <tbody>
        {% for quote in quotes.items %}
        <tr>
<!--          <td class="quote_table"><a  href="{{ url_for('quotes.quote', quote_id=quote.id) }}"></a></td>-->
           <!--leave it blank-->
          <td class="quote_table"><a  href="{{ url_for('quotes.quote', quote_id=quote.id) }}">{{ quote.date_requested}}</a></td>
          <td class="quote_table"><a  href="{{ url_for('quotes.quote', quote_id=quote.id) }}">{{ quote.gallons_requested}}</a></td>
          <td class="quote_table"><a  href="{{ url_for('quotes.quote', quote_id=quote.id) }}">{{ quote.total_amount_due}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div style="padding-top: 20px;">
    {% for page_num in quotes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if quotes.page==page_num %}
    <a class="btn btn-info mb-4" href="{{url_for('users.history',username=user.username,page=page_num) }}">{{ page_num
        }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{url_for('users.history',username=user.username,page=page_num) }}">{{
        page_num
        }}</a>
    {% endif %}
    {% else %}
    ...

    {% endif %}
    {% endfor %}
</div>


<!-- </div> -->
{% endblock content %}
