{% extends "layout.html" %}
{% block content %}
<h1 class="mb-3">Quotes for {{ user.username }}</h1>
{% for quote in quotes.items %}
<article class="media content-section">
    <div class="media-body">
        <h3><a class="article-title" href="{{ url_for('quotes.quote', quote_id=quote.id) }}">Date: {{ quote.date_requested
            }}</a></h3>
        <h3>Gallons: {{ quote.gallons_requested }}</h3>


    </div>
</article>
{% endfor %}
{% for page_num in quotes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if quotes.page==page_num %}
<a class="btn btn-info mb-4" href="{{url_for('users.history',username=user.username,page=page_num) }}">{{ page_num
    }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{url_for('users.history',username=user.username,page=page_num) }}">{{
    page_num
    }}</a>
{% endif %}
{% else %}
...

{% endif %}
{% endfor %}

{% endblock content %}